<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Demo</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="app">
      <section v-show="unfinishedAssignments.length > 0">
        <h1>Unfinished Assignments</h1>
        <ul>
          <li v-for="assignment in unfinishedAssignments" :key="assignment.id">
            <label :class="assignment.complete ? 'slash-through' : ''">
              {{assignment.name}}
              <input type="checkbox" v-model="assignment.complete" />
            </label>
          </li>
        </ul>
      </section>

      <section v-show="completedAssignments.length > 0">
        <h1>Completed Assignments</h1>
        <ul>
          <li v-for="assignment in completedAssignments" :key="assignment.id">
            <label :class="assignment.complete ? 'slash-through' : ''">
              {{assignment.name}}
              <input type="checkbox" v-model="assignment.complete" />
            </label>
          </li>
        </ul>
      </section>
    </div>

    <script>
      let app = {
        data() {
          return {
            assignments: [
              { name: "A1", complete: false, id: 1 },
              { name: "A2", complete: false, id: 2 },
              { name: "A3", complete: false, id: 3 },
            ],
          };
        },
        computed: {
          completedAssignments() {
            return this.assignments.filter((a) => a.complete);
          },
          unfinishedAssignments() {
            return this.assignments.filter((a) => !a.complete);
          },
        },
      };
      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
