.text-green {
  color: green;
}

.text-red {
  color: red;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slash-through {
  position: relative;
  text-decoration: none;
  color: black; /* or any other color you prefer */
}
.slash-through::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 50%;
  height: 1px; /* adjust thickness of the line */
  background-color: black; /* or any other color you prefer */
  /* transform: rotate(-90deg); */
  transform-origin: center;
}

.is-loading {
  color: transparent;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.is-loading:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner 0.6s linear infinite;
}
